.job-card-container {
    border: 1px solid #ccc;
    border-radius: 8px;
    padding: 16px;
    margin: 16px;
    background-color: #fff;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
}

.company-name {
    font-size: 1.5em;
    margin-bottom: 8px;
}

.job-title {
    font-size: 1.2em;
    margin-bottom: 8px;
}

.button-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.bookmark-button {
    background: none;
    border: none;
    cursor: pointer;
    font-size: 1.5em;
}

.nav-item {
    text-decoration: none;
    color: #007bff;
}
.view-details-button {
    margin-top: 20px;
    padding: 10px 20px;
    background-color: #28a745;
    color: white;
    text-decoration: none;
    border-radius: 5px;
    display: inline-block;
    transition: background-color 0.3s;
}

.view-details-button:hover {
    background-color: #218838;
}
